In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_html("""
<table class="kn-table kn-table-table knTable is-bordered is-striped knTable--borders knTable--spacing-medium knTable--striped knTable--rowHover can-overflow-x">
    <thead>
      
          <tr><th class="field_26 sorted-asc">
            <span class="table-fixed-label">

            
              <a href="#field_26|desc" address="true" class="kn-sort level is-compact">
            
              <span>Make/Model</span>
              
                <span class="icon is-small is-transparent" style="margin-left: 3px;">
                  <i class="fa fa-sort-amount-asc"></i>
                </span>
              
            
              </a>
            
            </span>
          </th>

      
          <th class="field_32">
            <span class="table-fixed-label">

            
              <a href="#field_32|asc" address="true" class="kn-sort level is-compact">
            
              <span>EV Type</span>
              
            
              </a>
            
            </span>
          </th>

      
          <th class="field_34">
            <span class="table-fixed-label">

            
              <a href="#field_34|asc" address="true" class="kn-sort level is-compact">
            
              <span>EPA Range</span>
              
            
              </a>
            
            </span>
          </th>

      
          <th class="field_35">
            <span class="table-fixed-label">

            
              <a href="#field_35|asc" address="true" class="kn-sort level is-compact">
            
              <span>Battery (kWh)</span>
              
            
              </a>
            
            </span>
          </th>

      
          <th class="field_36">
            <span class="table-fixed-label">

            
              <a href="#field_36|asc" address="true" class="kn-sort level is-compact">
            
              <span>Miles/kWh</span>
              
            
              </a>
            
            </span>
          </th>

      
          <th class="field_37">
            <span class="table-fixed-label">

            
              <a href="#field_37|asc" address="true" class="kn-sort level is-compact">
            
              <span>MSRP</span>
              
            
              </a>
            
            </span>
          </th>

      
          <th class="field_38">
            <span class="table-fixed-label">

            
              <a href="#field_38|asc" address="true" class="kn-sort level is-compact">
            
              <span>MSRP/kWh</span>
              
            
              </a>
            
            </span>
          </th>

      
          <th class="field_39">
            <span class="table-fixed-label">

            
              <a href="#field_39|asc" address="true" class="kn-sort level is-compact">
            
              <span>MSRP/Miles</span>
              
            
              </a>
            
            </span>
          </th>

      
    </tr></thead>
    <tbody>
<tr id="605d1eef76810f067bbb15bb">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Audi e-tron
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
BEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
222
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
95.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
2.34
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$70,800.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$745
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$319
  </span></td>

</tr>

<tr id="605cf5b4db47f0067f53267c">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Audi e-tron GT
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
BEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
238
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
93.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
2.56
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$104,900.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$1,128
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$441
  </span></td>

</tr>

<tr id="605cf5b4db47f0067f53267e">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Audi e-tron Sportback
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
BEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
218
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
95.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
2.29
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$74,000.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$779
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$339
  </span></td>

</tr>

<tr id="605cf5b4db47f0067f53267a">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Audi Q4 e-tron
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
BEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
265
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
82.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
3.23
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$48,800.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$595
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$184
  </span></td>

</tr>

<tr id="60c69a02a957b10021fcf77e">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Audi Q4 e-tron Sportback
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
BEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
241
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
82.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
2.94
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$56,800.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$693
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$236
  </span></td>

</tr>

<tr id="605cf5b4db47f0067f532678">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Audi Q5 TFSI e PHEV
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
PHEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
23
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
18.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
1.28
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$55,400.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$3,078
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$2,409
  </span></td>

</tr>

<tr id="6396224b6ab0da00266a75f4">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Audi Q8 e-tron
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
BEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
285
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
114.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
2.50
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$74,400.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$653
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$261
  </span></td>

</tr>

<tr id="605cf5b5db47f0067f532692">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Bentley Bentagya Hybrid
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
PHEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
18
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
18.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
1.00
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$166,000.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$9,222
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$9,222
  </span></td>

</tr>

<tr id="605d1eef76810f067bbb15bf">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
BMW 330e
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
PHEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
23
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
12.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
1.92
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$43,300.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$3,608
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$1,883
  </span></td>

</tr>

<tr id="605cf5b5db47f0067f53269e">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
BMW 530e
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
PHEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
21
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
12.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
1.75
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$56,400.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$4,700
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$2,686
  </span></td>

</tr>

<tr id="605cf5b5db47f0067f5326a4">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
BMW i4 eDrive40
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
BEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
301
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
84.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
3.58
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$55,900.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$665
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$186
  </span></td>

</tr>

<tr id="61451e553efaa6001e3cfbb6">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
BMW i5
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
BEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
0
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
83.9
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
0.00
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$60,000.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$715
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$0
  </span></td>

</tr>

<tr id="605cf5b5db47f0067f5326a8">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
BMW iX xDrive50
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
BEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
324
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
105.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
3.09
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$84,100.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$801
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$260
  </span></td>

</tr>

<tr id="605cf5b5db47f0067f5326a2">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
BMW X5 xDrive 45e
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
PHEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
31
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
17.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
1.82
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$65,400.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$3,847
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$2,110
  </span></td>

</tr>

<tr id="648a2965bdeacc00273c45fc">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
BrightDrop Zevo 600/400
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
BEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
&nbsp;
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
&nbsp;
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
0.00
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
&nbsp;
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$0
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$0
  </span></td>

</tr>

<tr id="605cf5b6db47f0067f5326c0">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Cadillac LYRIQ
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
BEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
312
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
100.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
3.12
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$62,990.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$630
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$202
  </span></td>

</tr>

<tr id="605cf5b7db47f0067f5326d0">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Chevrolet Bolt EUV
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
BEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
247
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
60.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
4.12
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$27,200.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$453
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$110
  </span></td>

</tr>

<tr id="605d1ef176810f067bbb15e4">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Chevrolet Bolt EV
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
BEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
259
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
60.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
4.32
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$25,600.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$427
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$99
  </span></td>

</tr>

<tr id="605d1ef076810f067bbb15d0">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Chrysler Pacifica Hybrid
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
PHEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
32
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
16.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
2.00
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$46,978.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$2,936
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$1,468
  </span></td>

</tr>

<tr id="61be8073e5fb97001fb87df0">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Ferrari 296GTB
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
PHEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
13
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
8.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
1.63
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$322,986.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$40,373
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$24,845
  </span></td>

</tr>

<tr id="61184e980453e9001e4271bb">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Ferrari SF90 Stradale
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
PHEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
9
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
8.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
1.13
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$625,000.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$78,125
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$69,444
  </span></td>

</tr>

<tr id="605cf5b8db47f0067f532700">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Ford Escape PHEV
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
PHEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
37
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
14.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
2.64
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$37,960.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$2,711
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$1,026
  </span></td>

</tr>

<tr id="605cf5b8db47f0067f532706">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Ford F-150 Lightning
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
BEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
320
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
98.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
3.27
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$61,689.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$629
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$193
  </span></td>

</tr>

<tr id="60b294af52ad080cbe29000a">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Ford Mustang Mach-E
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
BEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
300
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
70.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
4.29
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$43,895.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$627
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$146
  </span></td>

</tr>

<tr id="607b5ab4eebdf1001fb3ee9d">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Genesis Electrified G80
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
BEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
282
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
80.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
3.53
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$79,825.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$998
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$283
  </span></td>

</tr>

<tr id="605cf5b9db47f0067f532718">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Genesis Electrified GV70
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
BEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
236
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
77.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
3.06
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$65,850.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$855
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$279
  </span></td>

</tr>

<tr id="61226680ff0539001e130c2a">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Genesis GV60
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
BEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
248
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
77.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
3.22
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$59,290.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$770
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$239
  </span></td>

</tr>

<tr id="605cf5b7db47f0067f5326d6">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
GMC Hummer EV
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
BEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
320
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
205.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
1.56
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$110,295.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$538
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$345
  </span></td>

</tr>

<tr id="61bf6c35e8d834001e0968b7">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Hyundai IONIQ 5
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
BEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
303
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
77.4
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
3.91
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$39,950.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$516
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$132
  </span></td>

</tr>

<tr id="605d1ef176810f067bbb15f6">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Hyundai Kona Electric
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
BEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
258
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
64.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
4.03
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$34,000.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$531
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$132
  </span></td>

</tr>

<tr id="605cf5b9db47f0067f53272c">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Hyundai Santa Fe PHEV
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
PHEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
31
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
12.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
2.58
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$40,000.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$3,333
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$1,290
  </span></td>

</tr>

<tr id="625490cafd7b5700217dc35f">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Hyundai Tuscon Plug-In Hybrid
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
PHEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
33
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
14.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
2.36
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$35,400.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$2,529
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$1,073
  </span></td>

</tr>

<tr id="605cf5b9db47f0067f532738">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Jaguar I-PACE
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
BEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
234
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
90.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
2.60
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$71,300.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$792
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$305
  </span></td>

</tr>

<tr id="605cf5badb47f0067f532748">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Jeep Grand Cherokee 4xe
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
PHEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
26
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
17.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
1.53
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$60,260.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$3,545
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$2,318
  </span></td>

</tr>

<tr id="605cf5badb47f0067f532742">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Jeep Wrangler 4xe
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
PHEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
22
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
17.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
1.29
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$53,995.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$3,176
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$2,454
  </span></td>

</tr>

<tr id="605cf5badb47f0067f53274c">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Karma GS-6
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
PHEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
61
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
28.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
2.18
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$95,700.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$3,418
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$1,569
  </span></td>

</tr>

<tr id="605cf5badb47f0067f532759">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Kia EV6
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
BEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
310
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
77.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
4.03
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$41,400.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$538
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$134
  </span></td>

</tr>

<tr id="648b8c42c0397206ca71becd">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Kia EV9
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
BEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
0
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
76.1
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
0.00
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
&nbsp;
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$0
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$0
  </span></td>

</tr>

<tr id="605d1ef276810f067bbb15fe">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Kia Niro EV
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
BEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
239
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
64.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
3.73
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$39,450.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$616
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$165
  </span></td>

</tr>

<tr id="605cf5badb47f0067f532752">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Kia Niro PHEV
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
PHEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
26
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
9.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
2.89
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$29,590.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$3,288
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$1,138
  </span></td>

</tr>

<tr id="6129cb58198dfe001e78044f">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Kia Sorento Plug-in Hybrid SX
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
PHEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
32
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
14.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
2.29
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$48,890.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$3,492
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$1,528
  </span></td>

</tr>

<tr id="61be8a492b3ed7001ecf25c7">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Kia Sportage PHEV
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
PHEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
34
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
14.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
2.43
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$38,490.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$2,749
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$1,132
  </span></td>

</tr>

<tr id="605cf5bedb47f0067f5327d9">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Land Rover Range Rover PHEV
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
PHEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
19
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
13.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
1.46
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$104,500.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$8,038
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$5,500
  </span></td>

</tr>

<tr id="605cf5bedb47f0067f5327db">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Land Rover Range Rover Sport PHEV
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
PHEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
19
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
13.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
1.46
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$83,000.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$6,385
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$4,368
  </span></td>

</tr>

<tr id="605cf5bbdb47f0067f532762">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Lexus NX 450h+
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
PHEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
37
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
18.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
2.06
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$57,705.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$3,206
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$1,560
  </span></td>

</tr>

<tr id="65be9350a18c900028f192ed">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Lexus TX 550h+
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
&nbsp;
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
33
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
&nbsp;
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
0.00
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
&nbsp;
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$0
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$0
  </span></td>

</tr>

<tr id="605cf5bbdb47f0067f53276b">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Lincoln Aviator Grand Touring
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
PHEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
21
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
14.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
1.50
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$69,190.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$4,942
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$3,295
  </span></td>

</tr>

<tr id="605cf5bbdb47f0067f53276f">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Lincoln Corsair Grand Touring
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
PHEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
28
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
14.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
2.00
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$53,185.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$3,799
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$1,899
  </span></td>

</tr>

<tr id="60c12e0c5bec60001ef0792b">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Lordstown Endurance
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
BEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
250
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
109.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
2.29
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$52,500.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$482
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$210
  </span></td>

</tr>

<tr id="605cf5bbdb47f0067f532777">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Lucid Motors Air
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
BEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
516
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
118.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
4.37
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$154,000.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$1,305
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$298
  </span></td>

</tr>

<tr id="605cf5bcdb47f0067f532783">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Mazda CX-90 PHEV
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
PHEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
26
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
&nbsp;
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
0.00
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$47,455.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$0
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$1,825
  </span></td>

</tr>

<tr id="648b8c4ac0397206ca71c2bb">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
McLaren Artura
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
PHEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
11
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
7.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
1.57
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
&nbsp;
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$0
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$0
  </span></td>

</tr>

<tr id="607b3ce2ac2b5c001c74e4db">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Mercedes-Benz EQB
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
BEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
250
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
67.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
3.73
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$54,500.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$813
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$218
  </span></td>

</tr>

<tr id="6441f143e572a2002703f521">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Mercedes-Benz EQB SUV
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
BEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
232
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
71.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
3.27
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$56,900.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$801
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$245
  </span></td>

</tr>

<tr id="644c8553d252b207111d865f">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Mercedes-Benz EQE Sedan
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
BEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
305
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
91.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
3.35
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
&nbsp;
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$0
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$0
  </span></td>

</tr>

<tr id="644c8553d252b207111d8664">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Mercedes-Benz EQE SUV
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
BEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
279
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
91.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
3.07
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
&nbsp;
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$0
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$0
  </span></td>

</tr>

<tr id="644c8554d252b207111d8673">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Mercedes-Benz EQS Sedan
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
BEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
305
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
108.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
2.82
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
&nbsp;
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$0
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$0
  </span></td>

</tr>

<tr id="605cf5bcdb47f0067f53279f">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Mercedes-Benz EQS SUV
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
BEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
333
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
108.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
3.08
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$105,400.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$976
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$317
  </span></td>

</tr>

<tr id="605d1ef076810f067bbb15cc">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Mini Cooper Electric SE Hardtop 2 door
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
BEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
114
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
33.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
3.45
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$34,225.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$1,037
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$300
  </span></td>

</tr>

<tr id="605cf5bddb47f0067f5327a9">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Mini Countryman SE PHEV
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
PHEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
18
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
10.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
1.80
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$41,500.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$4,150
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$2,306
  </span></td>

</tr>

<tr id="605cf5bddb47f0067f5327ad">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Mitsubishi Outlander PHEV
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
PHEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
24
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
14.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
1.71
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$36,995.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$2,643
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$1,541
  </span></td>

</tr>

<tr id="605cf5bddb47f0067f5327b9">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Nissan Ariya
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
BEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
216
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
65.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
3.32
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$44,485.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$684
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$206
  </span></td>

</tr>

<tr id="605cf5bddb47f0067f5327b7">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Nissan LEAF
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
BEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
149
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
40.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
3.73
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$28,040.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$701
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$188
  </span></td>

</tr>

<tr id="605d1ef376810f067bbb161c">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Polestar 2
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
BEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
233
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
78.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
2.99
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$48,400.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$621
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$208
  </span></td>

</tr>

<tr id="605d1ef376810f067bbb161e">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Porsche Cayenne S E-Hybrid
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
PHEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
17
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
11.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
1.55
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$86,500.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$7,864
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$5,088
  </span></td>

</tr>

<tr id="605d1ef376810f067bbb1622">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Porsche Panamera E-Hybrid
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
PHEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
17
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
11.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
1.55
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$99,600.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$9,055
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$5,859
  </span></td>

</tr>

<tr id="605cf5bedb47f0067f5327d7">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Porsche Taycan
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
BEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
201
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
79.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
2.54
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$86,700.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$1,097
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$431
  </span></td>

</tr>

<tr id="605cf5bedb47f0067f5327e3">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Rivian R1S
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
BEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
295
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
135.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
2.19
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$72,500.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$537
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$246
  </span></td>

</tr>

<tr id="61511a1db7e661001fca3ec2">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Rivian R1T
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
BEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
314
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
135.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
2.33
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$73,000.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$541
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$232
  </span></td>

</tr>

<tr id="605cf5bfdb47f0067f5327f1">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Subaru Crosstrek PHEV
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
PHEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
17
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
9.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
1.89
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$36,345.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$4,038
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$2,138
  </span></td>

</tr>

<tr id="605d1ef376810f067bbb162f">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Tesla Model 3
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
BEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
267
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
60.5
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
4.41
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$46,990.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$777
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$176
  </span></td>

</tr>

<tr id="605cf5bfdb47f0067f5327fd">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Tesla Model S
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
BEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
375
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
100.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
3.75
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$104,990.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$1,050
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$280
  </span></td>

</tr>

<tr id="605cf5bfdb47f0067f5327ff">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Tesla Model X
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
BEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
332
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
100.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
3.32
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$120,990.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$1,210
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$364
  </span></td>

</tr>

<tr id="605cf5bfdb47f0067f532801">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Tesla Model Y
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
BEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
318
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
75.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
4.24
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$65,990.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$880
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$208
  </span></td>

</tr>

<tr id="605cf5c0db47f0067f532817">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Toyota bZ4X
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
BEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
252
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
75.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
3.36
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$42,000.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$560
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$167
  </span></td>

</tr>

<tr id="605cf5c0db47f0067f53280f">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Toyota Prius Prime
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
PHEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
25
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
9.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
2.78
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$28,770.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$3,197
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$1,151
  </span></td>

</tr>

<tr id="605cf5c0db47f0067f532811">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Toyota RAV4 Prime
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
PHEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
42
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
18.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
2.33
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$41,590.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$2,311
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$990
  </span></td>

</tr>

<tr id="61bd4db52d5cca0726fabbfb">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
VinFast VF 8
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
BEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
207
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
82.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
2.52
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$57,000.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$695
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$275
  </span></td>

</tr>

<tr id="605fc8b32f95be06860fbbea">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Volkswagen ID.4
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
BEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
260
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
77.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
3.38
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$40,290.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$523
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$155
  </span></td>

</tr>

<tr id="605cf5c1db47f0067f532833">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Volvo C40
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
BEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
225
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
78.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
2.88
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$55,300.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$709
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$246
  </span></td>

</tr>

<tr id="605cf5c1db47f0067f532839">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Volvo S60 T8 Recharge PHEV
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
PHEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
40
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
19.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
2.11
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$51,250.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$2,697
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$1,281
  </span></td>

</tr>

<tr id="605cf5c0db47f0067f53282b">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Volvo S90 T8 PHEV
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
PHEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
38
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
19.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
2.00
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$70,500.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$3,711
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$1,855
  </span></td>

</tr>

<tr id="61185036f01314001ef6456e">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Volvo V60 Recharge
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
PHEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
40
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
19.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
2.11
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$70,550.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$3,713
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$1,764
  </span></td>

</tr>

<tr id="648b8c48c0397206ca71c1f1">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Volvo XC40 
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
BEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
223
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
78.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
2.86
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
&nbsp;
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$0
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$0
  </span></td>

</tr>

<tr id="605cf5c0db47f0067f532827">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Volvo XC60 T8 PHEV
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
PHEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
36
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
19.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
1.89
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$57,200.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$3,011
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$1,589
  </span></td>

</tr>

<tr id="605d1ef476810f067bbb1639">

  <td class="field_26 cell-edit" data-column-index="0" data-field-key="field_26"><span class="col-0">
Volvo XC90 T8 PHEV
  </span></td>

  <td class="field_32 cell-edit" data-column-index="1" data-field-key="field_32"><span class="col-1">
PHEV
  </span></td>

  <td class="field_34 cell-edit" data-column-index="2" data-field-key="field_34"><span class="col-2">
18
  </span></td>

  <td class="field_35 cell-edit" data-column-index="3" data-field-key="field_35"><span class="col-3">
19.0
  </span></td>

  <td class="field_36" data-column-index="4" data-field-key="field_36"><span class="col-4">
0.95
  </span></td>

  <td class="field_37 cell-edit" data-column-index="5" data-field-key="field_37"><span class="col-5">
$71,900.00
  </span></td>

  <td class="field_38" data-column-index="6" data-field-key="field_38"><span class="col-6">
$3,784
  </span></td>

  <td class="field_39" data-column-index="7" data-field-key="field_39"><span class="col-7">
$3,994
  </span></td>

</tr>


</tbody>
  </table>
""")

In [17]:
ev = pd.DataFrame(df[0])
ev

,Make/Model,EV Type,EPA Range,Battery (kWh),Miles/kWh,MSRP,MSRP/kWh,MSRP/Miles
0,Audi e-tron,BEV,222.0,95.0,2.34,"$70,800.00",$745,$319
1,Audi e-tron GT,BEV,238.0,93.0,2.56,"$104,900.00","$1,128",$441
2,Audi e-tron Sportback,BEV,218.0,95.0,2.29,"$74,000.00",$779,$339
3,Audi Q4 e-tron,BEV,265.0,82.0,3.23,"$48,800.00",$595,$184
4,Audi Q4 e-tron Sportback,BEV,241.0,82.0,2.94,"$56,800.00",$693,$236
...,...,...,...,...,...,...,...,...
81,Volvo S90 T8 PHEV,PHEV,38.0,19.0,2.00,"$70,500.00","$3,711","$1,855"
82,Volvo V60 Recharge,PHEV,40.0,19.0,2.11,"$70,550.00","$3,713","$1,764"
83,Volvo XC40,BEV,223.0,78.0,2.86,NaN,$0,$0
84,Volvo XC60 T8 PHEV,PHEV,36.0,19.0,1.89,"$57,200.00","$3,011","$1,589"
85,Volvo XC90 T8 PHEV,PHEV,18.0,19.0,0.95,"$71,900.00","$3,784","$3,994"

In [26]:
ev

,Make/Model,EV Type,EPA Range,Battery (kWh),Miles/kWh,MSRP,MSRP/kWh,MSRP/Miles
0,Audi e-tron,BEV,222.0,95.0,2.34,70800.0,$745,$319
1,Audi e-tron GT,BEV,238.0,93.0,2.56,104900.0,"$1,128",$441
2,Audi e-tron Sportback,BEV,218.0,95.0,2.29,74000.0,$779,$339
3,Audi Q4 e-tron,BEV,265.0,82.0,3.23,48800.0,$595,$184
4,Audi Q4 e-tron Sportback,BEV,241.0,82.0,2.94,56800.0,$693,$236
...,...,...,...,...,...,...,...,...
81,Volvo S90 T8 PHEV,PHEV,38.0,19.0,2.00,70500.0,"$3,711","$1,855"
82,Volvo V60 Recharge,PHEV,40.0,19.0,2.11,70550.0,"$3,713","$1,764"
83,Volvo XC40,BEV,223.0,78.0,2.86,NaN,$0,$0
84,Volvo XC60 T8 PHEV,PHEV,36.0,19.0,1.89,57200.0,"$3,011","$1,589"
85,Volvo XC90 T8 PHEV,PHEV,18.0,19.0,0.95,71900.0,"$3,784","$3,994"

In [27]:
ev_type = ev.groupby("EV Type")

In [33]:
ev_type.mean(numeric_only=True).T

EV Type                 BEV          PHEV
EPA Range        258.604167     26.805556
Battery (kWh)     86.727083     14.400000
Miles/kWh          3.032041      1.817778
MSRP           63642.651163  83699.542857