## Nunpy and Pandas Practice

In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 100)

In [2]:
arr = np.random.randint(-100, 101, size=(9, 7))
ser = pd.Series({'Apple': 12, 'Mango': 34, 'Berry': 50, 'Lemon': 11, 'Cashew': 86},
                name='Fruits')

df = pd.read_csv(r'C:\Users\RohitRohan\jupyter notebook idle\sample csv data\survey_results_public.csv', index_col='ResponseId')
schema = pd.read_csv(r'C:\Users\RohitRohan\jupyter notebook idle\sample csv data\\survey_results_schema.csv')

richest = pd.read_csv(r'C:\Users\RohitRohan\jupyter notebook idle\sample csv data\TopRichestInWorld.csv')
richest.index += 1

In [3]:
data1 = {
    'Species': ['Lion', 'Tiger', 'Leopard', 'Cheetah', 'Jaguar', 'Zebra', 'Giraffe', 'Penguin', 'Kangaroo'],
    'Habitat': ['Grasslands', 'Jungle', 'Forests', 'Savannah', 'Rainforest', 'Grasslands', 'Savannah', 'Polar', 'Grasslands'],
    'Diet': ['Carnivore', 'Carnivore', 'Carnivore', 'Carnivore', 'Carnivore', 'Herbivore', 'Herbivore', 'Carnivore', 'Herbivore'],
    'Speed (km/h)': [80, 65, 58, 120, 80, 64, 50, 10, 56]
}
df1 = pd.DataFrame(data1)

data2 = {
    'Species': ['Lion', 'Tiger', 'Leopard', 'Elephant', 'Panda', 'Zebra', 'Giraffe', 'Penguin', 'Kangaroo'],
    'Conservation Status': ['Vulnerable', 'Endangered', 'Near Threatened', 'Endangered', 'Vulnerable', 'Vulnerable', 'Least Concern', 'Least Concern', 'Near Threatened'],
    'Population (in/K)': [30, 22, 7, 0.4, 1.8, 4.5, 1.2, 20, 6]
}
df2 = pd.DataFrame(data2)

In [4]:
richest

,Name,NetWorth,Age,Country/Territory,Source,Industry
1,Elon Musk,"$219,000,000,000",50,United States,"Tesla, SpaceX",Automotive
2,Jeff Bezos,"$171,000,000,000",58,United States,Amazon,Technology
3,Bernard Arnault & family,"$158,000,000,000",73,France,LVMH,Fashion & Retail
4,Bill Gates,"$129,000,000,000",66,United States,Microsoft,Technology
5,Warren Buffett,"$118,000,000,000",91,United States,Berkshire Hathaway,Finance & Investments
...,...,...,...,...,...,...
97,Vladimir Potanin,"$17,300,000,000",61,Russia,metals,Metals & Mining
98,Harold Hamm & family,"$17,200,000,000",76,United States,oil & gas,Energy
99,Sun Piaoyang,"$17,100,000,000",63,China,pharmaceuticals,Healthcare
100,Luo Liguo & family,"$17,000,000,000",66,China,chemicals,Manufacturing
101,Peter Woo,"$17,000,000,000",75,Hong Kong,real estate,Real Estate

In [5]:
df1

    Species     Habitat       Diet  Speed (km/h)
0      Lion  Grasslands  Carnivore            80
1     Tiger      Jungle  Carnivore            65
2   Leopard     Forests  Carnivore            58
3   Cheetah    Savannah  Carnivore           120
4    Jaguar  Rainforest  Carnivore            80
5     Zebra  Grasslands  Herbivore            64
6   Giraffe    Savannah  Herbivore            50
7   Penguin       Polar  Carnivore            10
8  Kangaroo  Grasslands  Herbivore            56

In [6]:
df2

    Species Conservation Status  Population (in/K)
0      Lion          Vulnerable               30.0
1     Tiger          Endangered               22.0
2   Leopard     Near Threatened                7.0
3  Elephant          Endangered                0.4
4     Panda          Vulnerable                1.8
5     Zebra          Vulnerable                4.5
6   Giraffe       Least Concern                1.2
7   Penguin       Least Concern               20.0
8  Kangaroo     Near Threatened                6.0

In [7]:
pd.merge(df1, df2, on="Species")

,Species,Habitat,Diet,Speed (km/h),Conservation Status,Population (in/K)
0,Lion,Grasslands,Carnivore,80,Vulnerable,30.0
1,Tiger,Jungle,Carnivore,65,Endangered,22.0
2,Leopard,Forests,Carnivore,58,Near Threatened,7.0
3,Zebra,Grasslands,Herbivore,64,Vulnerable,4.5
4,Giraffe,Savannah,Herbivore,50,Least Concern,1.2
5,Penguin,Polar,Carnivore,10,Least Concern,20.0
6,Kangaroo,Grasslands,Herbivore,56,Near Threatened,6.0