In [1]:
import numpy as np
import pandas as pd

In [8]:
arr = np.random.randint(-100, 101, size=(9, 7))
ser = pd.Series({'Apple': 12, 'Mango': 34, 'Berry': 50, 'Lemon': 11, 'Cashew': 86},
                name='Fruits')

data1 = {
    'Species': ['Lion', 'Tiger', 'Leopard', 'Cheetah', 'Jaguar', 'Zebra', 'Giraffe', 'Penguin', 'Kangaroo'],
    'Habitat': ['Grasslands', 'Jungle', 'Forests', 'Savannah', 'Rainforest', 'Grasslands', 'Savannah', 'Polar', 'Grasslands'],
    'Diet': ['Carnivore', 'Carnivore', 'Carnivore', 'Carnivore', 'Carnivore', 'Herbivore', 'Herbivore', 'Carnivore', 'Herbivore'],
    'Speed (km/h)': [80, 65, 58, 120, 80, 64, 50, 10, 56]
}
df1 = pd.DataFrame(data1)

data2 = {
    'Species': ['Lion', 'Tiger', 'Leopard', 'Elephant', 'Panda', 'Zebra', 'Giraffe', 'Penguin', 'Kangaroo'],
    'Conservation Status': ['Vulnerable', 'Endangered', 'Near Threatened', 'Endangered', 'Vulnerable', 'Vulnerable', 'Least Concern', 'Least Concern', 'Near Threatened'],
    'Population (in/K)': [30, 22, 7, 0.4, 1.8, 4.5, 1.2, 20, 6]
}
df2 = pd.DataFrame(data2)

df = pd.read_csv("../sample csv data/vgsales.csv", index_col="Rank")

In [69]:
df1.head()

   Species     Habitat       Diet  Speed (km/h)
0     Lion  Grasslands  Carnivore            80
1    Tiger      Jungle  Carnivore            65
2  Leopard     Forests  Carnivore            58
3  Cheetah    Savannah  Carnivore           120
4   Jaguar  Rainforest  Carnivore            80

In [76]:
df1.melt(id_vars="Species")

     Species      variable       value
0       Lion       Habitat  Grasslands
1      Tiger       Habitat      Jungle
2    Leopard       Habitat     Forests
3    Cheetah       Habitat    Savannah
4     Jaguar       Habitat  Rainforest
5      Zebra       Habitat  Grasslands
6    Giraffe       Habitat    Savannah
7    Penguin       Habitat       Polar
8   Kangaroo       Habitat  Grasslands
9       Lion          Diet   Carnivore
10     Tiger          Diet   Carnivore
11   Leopard          Diet   Carnivore
12   Cheetah          Diet   Carnivore
13    Jaguar          Diet   Carnivore
14     Zebra          Diet   Herbivore
15   Giraffe          Diet   Herbivore
16   Penguin          Diet   Carnivore
17  Kangaroo          Diet   Herbivore
18      Lion  Speed (km/h)          80
19     Tiger  Speed (km/h)          65
20   Leopard  Speed (km/h)          58
21   Cheetah  Speed (km/h)         120
22    Jaguar  Speed (km/h)          80
23     Zebra  Speed (km/h)          64
24   Giraffe  Speed (km/h)          50
25   Penguin  Speed (km/h)          10
26  Kangaroo  Speed (km/h)          56

In [56]:
help(pd.Series.str.cat)

Help on function cat in module pandas.core.strings.accessor:

cat(self, others=None, sep: 'str | None' = None, na_rep=None, join: 'AlignJoin' = 'left') -> 'str | Series | Index'
    Concatenate strings in the Series/Index with given separator.

    If `others` is specified, this function concatenates the Series/Index
    and elements of `others` element-wise.
    If `others` is not passed, then all values in the Series/Index are
    concatenated into a single string with a given `sep`.

    Parameters
    ----------
    others : Series, Index, DataFrame, np.ndarray or list-like
        Series, Index, DataFrame, np.ndarray (one- or two-dimensional) and
        other list-likes of strings must have the same length as the
        calling Series/Index, with the exception of indexed objects (i.e.
        Series/Index/DataFrame) if `join` is not None.

        If others is a list-like that contains a combination of Series,
        Index or np.ndarray (1-dim), then all elements will be unpacked and
        must satisfy the above criteria individually.

        If others is None, the method returns the concatenation of all
        strings in the calling Series/Index.
    sep : str, default ''
        The separator between the different elements/columns. By default
        the empty string `''` is used.
    na_rep : str or None, default None
        Representation that is inserted for all missing values:

        - If `na_rep` is None, and `others` is None, missing values in the
          Series/Index are omitted from the result.
        - If `na_rep` is None, and `others` is not None, a row containing a
          missing value in any of the columns (before concatenation) will
          have a missing value in the result.
    join : {'left', 'right', 'outer', 'inner'}, default 'left'
        Determines the join-style between the calling Series/Index and any
        Series/Index/DataFrame in `others` (objects without an index need
        to match the length of the calling Series/Index). To disable
        alignment, use `.values` on any Series/Index/DataFrame in `others`.

    Returns
    -------
    str, Series or Index
        If `others` is None, `str` is returned, otherwise a `Series/Index`
        (same type as caller) of objects is returned.

    See Also
    --------
    split : Split each string in the Series/Index.
    join : Join lists contained as elements in the Series/Index.

    Examples
    --------
    When not passing `others`, all values are concatenated into a single
    string:

    >>> s = pd.Series(['a', 'b', np.nan, 'd'])
    >>> s.str.cat(sep=' ')
    'a b d'

    By default, NA values in the Series are ignored. Using `na_rep`, they
    can be given a representation:

    >>> s.str.cat(sep=' ', na_rep='?')
    'a b ? d'

    If `others` is specified, corresponding values are concatenated with
    the separator. Result will be a Series of strings.

    >>> s.str.cat(['A', 'B', 'C', 'D'], sep=',')
    0    a,A
    1    b,B
    2    NaN
    3    d,D
    dtype: object

    Missing values will remain missing in the result, but can again be
    represented using `na_rep`

    >>> s.str.cat(['A', 'B', 'C', 'D'], sep=',', na_rep='-')
    0    a,A
    1    b,B
    2    -,C
    3    d,D
    dtype: object

    If `sep` is not specified, the values are concatenated without
    separation.

    >>> s.str.cat(['A', 'B', 'C', 'D'], na_rep='-')
    0    aA
    1    bB
    2    -C
    3    dD
    dtype: object

    Series with different indexes can be aligned before concatenation. The
    `join`-keyword works as in other methods.

    >>> t = pd.Series(['d', 'a', 'e', 'c'], index=[3, 0, 4, 2])
    >>> s.str.cat(t, join='left', na_rep='-')
    0    aa
    1    b-
    2    -c
    3    dd
    dtype: object
    >>>
    >>> s.str.cat(t, join='outer', na_rep='-')
    0    aa
    1    b-
    2    -c
    3    dd
    4    -e
    dtype: object
    >>>
    >>> s.str.cat(t, join='inner', na_rep='-')
    0    aa
    2    -c
    3    dd
    dtype: object
    >>>
    >>> s.str.cat(t, join='right', na_rep='-')
    3    dd
    0    aa
    4    -e
    2    -c
    dtype: object

    For more examples, see :ref:`here <text.concatenate>`.